body {
  overflow-x: hidden; /* Evita que cualquier residuo visual cree scroll */
  width: 100%;
  
  background-image: url('../assets/pexels-pixabay-235985.jpg');
  background-attachment: fixed; /*el fondo no se mueve cuando hace scroll, y el scroll si lo hace
  /* background-size: cover;
  background-repeat: no-repeat; */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box; /* Fundamental para evitar el scroll horizontal */
  margin: 0;
  padding: 0;
}
