

.TodoCounter {
      color: #f4e4bc;
  text-shadow: 2px 2px 4px #000;
  font-family: 'Georgia', serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding: 30px;
      
}

.TodoCounter span {
    font-weight: normal;
}


@media (max-width: 600px) {
  .TodoCounter {
    font-size: 20px;
    padding: 15px;
  }}