/* TodoSearch.css */
.TodoSearch {
  background: #f4e4bc;
  background-image: url('https://www.transparenttextures.com/patterns/parchment.png');
  
  /* Tamaño controlado */
  width: 95%;
  max-width: 640px; /* Un poco más que los 500px de la lista */
  height: 64px;
  margin: 0 auto 32px auto;
  display: block;
  
  /* Bordes de pergamino */
  border: 2px solid #5d4037;
  border-bottom: 4px solid #3e2723; /* Base más pesada */
  padding: 0 24px;
  font-family: 'MedievalSharp', serif;
  font-size: 24px;
  color: #3e2723;
  text-align: center;
  
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
  outline: none;
  
  background-color: rgba(226, 192, 141, 0.9);
  transition: all 0.3s ease;
}

.TodoSearch::placeholder {
  color: #8d6e63;
  font-style: italic;
}

.TodoSearch:focus {
  transform: translateY(-2px);
  border-color: #8b0000; /* El borde se "calienta" al escribir */
 box-shadow: 0 10px 20px rgba(0,0,0,0.3);

}